.home {
  max-width: 80%;
  margin: 0 auto;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  background-color: white;
}

@media screen and (max-width: 960px) {
  .home {
    max-width: 100%;
  }
}
