.member {
  margin-top: 5rem;
}

form {
  display: flex;
  flex-direction: column;
  width: 20rem;
  margin: 0 auto;
  text-align: center;
  border: 1px #444 solid;
}

form label {
  margin-bottom: 2rem;
}

form label input {
  margin-left: 2rem;
}

form button {
  margin-bottom: 2rem;
}
