.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0.5rem;
  padding-bottom: 0.8rem;
  border-bottom: 1px #ccc solid;
}

.search {
  display: flex;
  align-items: center;
  border: 1px #ccc solid;
  border-radius: 0.5rem;
  padding: 0 0.5rem;
  margin-left: 30rem;
  width: 35%;
}

.search input {
  border: none;
  outline: none;
  padding: 1rem;
  font-size: 1.2rem;
  width: 100%;
}

.header-icons {
  height: 1.5rem;
}

.profile {
  display: flex;
  align-items: center;
  margin-right: 1.5rem;
}

.profile-image {
  height: 2rem;
  width: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.header-buttons {
  padding-right: 0;
  margin-right: 0;
}

.header-buttons a {
  margin-left: 1rem;
  padding: 0.6rem 2rem;
  border-radius: 0.3rem;
  cursor: pointer;
  border: 1px solid #543ee0;
}

@media screen and (max-width: 960px) {
  .header {
    padding-top: 0.8rem;
  }

  .search {
    margin-left: 2rem;
  }
}

@media screen and (max-width: 480px) {
  .header {
    flex-direction: column;
    width: 100%;
  }
  .search {
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-bottom: 5%;
    width: 95%;
  }

  .profile {
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-bottom: 5%;
    width: 95%;
  }
  .profile span {
    width: 100%;
  }

  .header-buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .header-buttons a {
    padding: 0.6rem 1rem;
    margin-left: 0;
  }
}
