.mobile-navigation {
  display: none;
}

.navigation {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  align-items: center;
  height: 100vh;
  border-right: 1px #ccc solid;
  position: sticky;
  top: 0;
}

.navigation button {
  margin-left: 1rem;
  padding: 0.3rem 1.2rem;
  cursor: pointer;
}

.navbar {
  display: flex;
  flex-direction: column;
  padding-top: 3rem;
}

.list-group {
  display: flex;
  align-items: center;
  margin-bottom: 1.8rem;
}

.list-group p {
  margin-left: 0.5rem;
}

.trending {
  display: flex;
  align-items: center;
}

.trending h3 {
  margin-right: 0.2rem;
}

.trending-list li {
  margin-bottom: 1.5rem;
}

.navbar li {
  list-style: none;
  font-weight: 500;
  cursor: pointer;
}

.navbar ul {
  padding-left: 1.2rem;
  margin-top: 1rem;
}

a {
  text-decoration: none;
  color: #444;
}

.navbar a.active {
  color: black;
  border-bottom: 2px solid #543ee0;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  padding-bottom: 1rem;
}

@media screen and (max-width: 640px) {
  /* .navigation-group {
    width: 30%;
    padding: 1rem;
  } */
}

@media screen and (max-width: 480px) {
  .mobile-navigation {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    height: 100vh;
    padding: 1rem;
    z-index: 100;
    width: 60%;
    background-color: white;
  }

  .navigation {
    display: none;
  }

  .navbar {
    margin-top: 2rem;
    padding-top: 2rem;
  }

  .navigation button {
    margin-left: 0.3rem;
    padding: 0.3rem 1rem;
  }

  .navigation-cancel-btn {
    position: absolute;
    top: 2%;
    left: 2%;
    width: 2rem;
    height: 2rem;
  }
}

@media screen and (max-width: 360px) {
  .navigation-container {
    width: 60%;
  }
}
